
.wrapper{
	display: flex;
}
.profilo{
	display: inline;
	width: 225px;
}
.me{
	margin-left:0;
}
.me h2{

	font-family: helvetica, arial, sans-serif;
	text-align: center;
}
.me p{
	font-family: helvetica,arial,sans-serif;
	text-align: justify;
}
.hero{
	background-color: lavenderblush;
	background-position: center;
	margin-left: 0;
	width: 25%;

}
.titoli{
	font-family: helvetica, arial, sans-serif;
	font-weight: 700;
	background-color: paleturquoise;
	margin-left: 1%
}
li{
	list-style: none;
	margin-top: 5%;
	margin-bottom:3%;
}
.element{
	font-weight: normal;
	margin-left: 10%;
}
.description{
	font-weight: normal;
}