body{
	overflow-x: hidden;
}

nav.navbar.navbar-default{
	margin-bottom: 0;
	background-color: lightblue;
    font-weight: 700;

}
.row{
  margin-top: 5%;	
}

img.DP{
	height: 200px;
	margin-top: 4%;
	border-radius: 300px;
}

div.container h3{
	font-weight: 700;
	height: 30px;
	margin-bottom: 0;
}
div.container p{
	display: inline;
	height: 15px;
}

.glyphicon-earphone:before{
	margin-left: 100px;
	float: left;
}	
.me{

	background-image: url(http://40.media.tumblr.com/0b7327140d6fbf180e3f4f8921d2ece1/tumblr_o0spc27kSv1v3htmao1_1280.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 400px;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
	margin-top: 0;
}
.me .slider {
    position: relative;
    top: 0;
    height: 200%;
    -webkit-transition: .5s;
    transition: .5s;
}

.me .slider:hover {
    top: -100%;
}

.me .slider .content {
    text-align: center;
    color:white;
    top: 75%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    position: absolute;
}

.me.slider .upper-block,
.me .slider .lower-block {
     height: 50%;
     position: relative;
     margin: 0;
     padding: 0;
}
.me .slider .upper-block{
    background-color: rgba(0, 0, 0, 0.25);
}

div.panel.panel-default{
	border-radius: 30px;
}

div.p-heading{    
	background-color: lightblue;
	color: black;
    border-color: #ddd;
    text-align: center;
    shape-margin: 100px;
    border-radius: 0;
    height: 40px;
}
div.p-heading h3{
	text-align: center;
	padding-top: 10px;
	font-weight: 700;
}
div.panel.panel-default.profile{
	height: 200px;
}

.offset{
	margin-left: 4%;
}

.pl{
	width: 75%;
}
.ContactUs{
  margin-bottom: 0;
  padding: 3%;
  background-color: lightblue;
  text-align: center;
}
.ContactUs h1{
    color:white;
    margin-bottom: 2%;
  }
.ContactUs form{
    margin-bottom: 0px;
  }
 .ContactUs input{
    margin: 3%;
  }
 .ContactUs textarea{
    width: 300px;
    height: 160px;
  }
.ContactUs  button{
    margin-top: -40px;
  }


@media (max-width: 1200px) {

  form{
    padding-left: 85px;
  }

}

@media (max-width: 767px) {

   form{
     padding-right: 30px;
     padding-left: 0px;
   }
   textarea{
     margin-bottom: 30px;
   }

}